<%- include('../partials/header') %>
<div id="main-div">
  <div class="gl-deets-div">
    <h1 class="gl-deets"> Goal: <%= goals.name %> </h1>
    <h3 class="gl-deets"> Goals description: <%= goals.description %> </h3>
    <h3 class="gl-deets"> Goals cost: <%= goals.cost %> </h3>
    <h3 class="gl-deets"> Amount saved: <%= goals.deposit %> </h3>
  </div>
</div>
<%- include('../partials/footer') %>