<%- include('../partials/header') %>
<div id="main-div">
  <% if (typeof user !== 'undefined') { %>
  <% user.goals.forEach(function(g) { %>
      <ul>
        <li>
          <div class="goals-card">
            <div class="card-cont">
            <a id="gl-name" href="/goals/details/<%= g.id %>"> <%= g.name %> </a>
            <a href="/goals/editgoal/<%= g.id %>"><button id="edit-btn">Edit</button></a>
            <a href="/goals/remove/<%= g.id %>"><button id="dlt-btn">Delete</button></a>
            </div>
          </div>
        </li>
      </ul>
    <% }); %>
    <% } else { %>
      <h1>Please login to create a goal</h1>
    <% } %>
</div>
<%- include('../partials/footer') %>